<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>airbnb home</title>
</head>

<body>
   <h2>Here are our Registered homes: </h2>
   <ul>
   <% registereHomes.forEach(home => { %>
    <li>
        <%= home.houseName %>
    </li>
   <% }) %>
   </ul>
    <a href="/host/add-home">Add Home</a>
</body>

</html>